@page
@using SpeedMeasuremetRazor.Models
@model SpeedMeasuremetRazor.Pages.Measurements.CreateSpeedMeasurementModel
@{
}

<h1>Create Speed Measurement</h1>

<img src="~/Images/viewfinder.JPG" alt="View Finder Picture" />

<p>Choose a location</p>

<form method="post">
    <div class="form-group">
        <select name="locId">
            @foreach (Location location in @Model.LocationRepo.GetAllLocations()) {
                <option value="@location.Id">@location.Address</option>
            }
        </select>
    </div>

    <input type="submit" value="Press the button to take a photo" class="btn btn-primary" />
</form>

<img src="~/Images/camera-button.jpg" width="300" alt="Camera outline" />

<div class="@(Model.message=="Look in the viewfinder and press the button" ? "alert alert-info alert-primary" : "alert alert-danger")">
    @Model.message
</div>

