@page
@using SpeedMeasuremetRazor.Models
@model SpeedMeasuremetRazor.Pages.Measurements.IndexModel
@{
}

<h1>List of Speed Measurements</h1>

<p>Number of registrations: @Model.fullRepo.GetAllSpeedMeasurements().Count</p>


<a class="nav-link" asp-area="" asp-page="CreateSpeedMeasurement">Create Measurement</a>

<table class="table">
    <thead>
        <tr>
            <th>All</th>
            <th>OverSpeedLimit</th>
            <th>CutInLicense</th>
            <th>ConditionalRevocation</th>
            <th>UnconditionalRevocation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.fullRepo.GetAllSpeedMeasurements().Count</td>
            <td>@Model.fullRepo.NoOfOverSpeedLimit()</td>
            <td>@Model.fullRepo.NoOfCutInLicense()</td>
            <td>@Model.fullRepo.NoOfConditionalRevocation()</td>
            <td>@Model.fullRepo.NoOfUnconditionalRevocation()</td>
        </tr>
    </tbody>
</table>
<form method="post" asp-page-handler="filter">
    <div class="form-group">
        <select name="filter">
            <option value="1">All</option>
            <option value="2">CutInLicense</option>
            <option value="3">ConditionalRevocation</option>
            <option value="4">UnConditionalRevocation</option>
        </select>
    </div>

    <input type="submit" value="Filter" class="btn btn-primary" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>Measurement ID</th>
            <th>Speed Registered</th>
            <th>Time Stamp</th>
            <th>Address</th>
            <th>Zone</th>
            <th>Speed Limit</th>
            <th>Photo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (SpeedMeasurement measurement in Model.filterList) {
            <tr>
                <td>@measurement.Id</td>
                <td>@measurement.Speed</td>
                <td>@measurement.TimeStamp</td>
                <td>@measurement.Location.Address</td>
                <td>@measurement.Location.Zone</td>
                <td>@measurement.Location.SpeedLimit</td>
                <td><img src="Images/@measurement.Picture" /></td>
                <td>
                    <form method="post">
                        <button class="btn btn-danger">Delete</button>
                        <input type="hidden" name="deletemeasurement" value="@measurement.Id" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
