@page
@using SpeedMeasuremetRazor.Helpers;
@model SpeedMeasuremetRazor.Pages.Locations.IndexModel
@{
}

<h1>List of Locations</h1>

<p>Number of Locations: @Model.LocationRepo.GetAllLocations().Count</p>

<form method="post" asp-page-handler="sort">
    <div class="form-group">
        <select name="sort">
            <option value="1">Address</option>
            <option value="2">Speed Limit</option>
            <option value="3">Zone</option>
        </select>
    </div>

    <input type="submit" value="Sort" class="btn btn-primary" />
</form>

<a asp-page="CreateLocation">Create New Location</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Address</th>
            <th>Zone</th>
            <th>SpeedLimit</th>
            <th>Control</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var location in Model.LocationRepo.GetAllLocations()) { 
        <tr>
            <td>@location.Id</td>
            <td>@location.Address</td>
            <td>@location.Zone</td>
            <td>@location.SpeedLimit</td>
            <td><a asp-route-id="@location.Id" asp-page="EditLocation">Edit or Delete Location</a></td>
        </tr>
        }
    </tbody>
</table>

@foreach (var exception in JsonHelper.GetReadExceptions) {
    <h3 class="alert-danger">@exception.Message</h3>
}